/* urbanist google font */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
  font-family: "Urbanist", sans-serif;
}

a.active {
  border-bottom: 1px solid #ACC857;
  background-color: #ACC857;
  padding: 5px 10px;
  border-radius: 10px;
  color: #303030;
  font-weight: 500;
}