@import "tailwindcss";
@plugin "daisyui";

a.active {
  border-bottom: 1px solid #ACC857;
  background-color: #ACC857;
  padding: 5px 10px;
  border-radius: 10px;
  color: #303030;
  font-weight: 500;
}